/* Шрифт для всего текста */
@font-face {
    font-family: Comforta;
    src: url(../fonts/Comfortaa-Bold.ttf);
}

/* Переменные для цветов */
:root
{
    --main_color_blue: #1E88E5;
    --main_color_grey: #424242;
    --drop_down_color: white;
    --text_color: white;
    --shadow: rgba(0,0,0,0.4);
}


body
{
    padding: 0;
    margin: 0;
}

/* Расположение и поведение header-а на странице */
.menu_headder
{
    background-color: var(--main_color_blue);
    width: 100%;
    height: 50px;
    padding: 0;
    margin: 0;
    box-shadow: 0 0 10px var(--shadow);
    display: inline-block;
}

/* Поведение контейнера содрежащего все блоки */
.header_container
{
    display: flex;
}

/* Блок для логотипа (картинка и текст) */
.logo_box
{
    height: 50px;
    width: 20%;
    display: flex;
}

/* Иконки (логотип и пользователь) */
.icon
{
    margin: 5px 15px 5px 15px;
}

/* Размеры иконок */
img
{
    height: 40px;
    width: 40px;
    color: var(--drop_down_color)
    
}

/* Текст в header */
.text
{
    text-align: center;
    font-size: 30px;
    color: var(--main_color_grey);
    font-family: Comforta;
    margin-top: 10px;
}

/* Блок с иконкой и фио пользователя */
.user_box
{
    display: flex;
    margin-left: auto;
    padding-right: 25px;
    height: 50px;
    cursor: pointer;
}

/* Блок с фио пользователя */
.user_name
{
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: Comforta;
    margin-top: 15px;
    width: 330px;
}

/* Выпадающий список (Блок с элементами) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--drop_down_color);
    min-width: 160px;
    width: 390px;
    margin-top: 50px;
    right: 20px;
    box-shadow: 0px 8px 16px 0px var(--shadow);
    z-index: 3;
}

/* Выпадающий список (Текст) */
.dropdown-content a {
    color: var(--main_color_grey);
    padding: 12px 8px;
    text-decoration: none;
    display: block;
    width: 374px;
    font-family: Comforta;
}

/* Выпадающий список (Появление) */
.user_box:hover .dropdown-content {
    display: block;
}

/* Выпадающий список (Выделение элементов при наведении на них)*/
.dropdown-content a:hover 
{
    color: var(--main_color_gray);
    background-color: var(--main_color_blue);
}

