/* Шрифты */
@font-face {
    font-family: Comforta;
    src: url(../fonts/Comfortaa-Bold.ttf);
}

/* Переменные для цветов */
:root
{
    --main_color_blue: #1E88E5;
    --main_color_grey: #424242;
    --drop_down_color: white;
    --text_color: white;
    --shadow: rgba(0,0,0,0.4);
}

body
{
    height: 100vh;
    padding: 0;
    margin: 0;
}

/* Блок с элементами меню */
#left_menu_container
{
    width: 220px;
    height: 100%;
    background-color: var(--main_color_grey);
    position: fixed;
    height: 100%;
}

/* Структура содержащая элементы меню */
ul
{
    margin-top: auto;
    list-style-type: none;
    padding: 0;
    text-align: center;
}

/* Строка под элемент меню */
li
{
    width: 220px;
    height: 60px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

/* Текст элемента меню */
a
{
    color: var(--text_color);
    text-decoration: none;
    font-size: 15px;
    transition: background-color 0.3s;
    width: 100%;
    font-family: Comforta;
}

/* Изменение цвета блока при наведении курсора */
li:hover
{
    background-color: var(--main_color_blue);
    
}

/* Изменение цвета текста при наведении курсора */
li:hover a
{
    color: var(--main_color_grey);
}

