@font-face {
    font-family: Comforta;
    src: url(../fonts/Comfortaa-Bold.ttf);
}

:root {
    --main_color_blue: #1E88E5;
    --main_color_grey: #424242;
    --drop_down_color: white;
    --text_color: white;
    --shadow: rgba(0, 0, 0, 0.4);
    --main_card_color: rgba(66, 66, 66, 0.2);
}

.polls {
    max-width: 1680px;
    margin-left: 230px;
    padding-top: 50px;
}

/* Отступы между карточками */
.poll_element {
    margin-top: 15px;
}

/* Шапка карточки */
.poll_header_card {
    border: solid var(--main_color_blue) 1px;
    background-color: var(--main_color_blue);
    border-radius: 10px;
    height: 8vh;
    display: flex;
    position: relative;
    color: var(--text_color);
    font-family: Comforta;
    z-index: 1;
    cursor: pointer;
    padding-top: 10px;
}

/* Правый блок с текстом в шапке (Позиционирование по правому краю) */
.right_headder_card {
    margin-left: auto;
    padding-right: 10px;
}

/* Левый блок с текстом в шапке (Позиционирование по левому краю) */
.left_headder_card {
    padding-left: 10px;
}

/* Весь текст в шапке (Отступы между текстом) */
.text_header_card {
    margin-top: 10px;
}


/* Отступ текста в основной части карточки от левого края */
.description {
    padding-left: 10px;
}

/* Развернутая часть карточки */
.poll_main_card_expanded {
    min-height: 500px; 
    display: flex;
    border: solid var(--main_card_color) 1px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--main_card_color);
    padding-top: 10px;
    margin-top: -10px;
}

.main_data_in_card
{
    width: 60%;
}

.chat_in_card
{
    width: 40%;
    margin: 10px 30px 10px 30px;
}

/* Кнопки для голосования и чата */
.voting_buttons {
    margin-top: 10px;
    text-align: center; 
}

.voting_buttons button {
    margin: 0 10px; 
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: var(--main_color_blue);
    color: var(--text_color);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.voting_buttons button:hover {
    background-color: #0d5cb6;
}
/* Развернутая часть карточки */
.poll_main_card_expanded {
    max-height: 1000px; 
}

.poll-option {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="range"] {
  width: 200px;
  margin: 0 10px;
}

button {
  margin-top: 10px;
}

.card_data
{
    display: flex;
}

.chat_in_card
{
    float: right;
}
